#form[data-loader-type="viewer"] 
{
    padding-bottom: 0px !important; 
}
#form {
    padding-top: 0px !important;
}
#form div[data-role="form-footer"] {
    display: none !important;
    }
